#divBody{
    /*justify-content: center;*/
    align-items: center;
    display: grid;
}

#divDecBin{
    margin-top: -25px;
}

#divHeader{
    background-color: #b3b3b3;
    height: 40px;
}

#title{
    color: #FF2402;
    text-shadow: 1px 1px 2px #5F0000;
    text-align: center;
}

#divExplain{
    text-align: center;
    width: 30%;
    height: 400px;
    background-color: #f0f0f0;
    justify-content: center;
    position: relative;
    float: left;
    overflow: auto;
}

#divExpCont{
    margin: 15px 15px;
}

#divSub{
    height: 70%;
    margin-top: 30px;
}

#divForm{
    text-align: center;
    width: 25%;
    height: 400px;
    background-color: #d1d1d1;
    position: relative;
    float: left;
}

#form1{
    display: inline-grid;
}

.lab1{
    text-align: center;
}

.inp1{
    text-align: center;
}

#divRes{
    background-color: #E6E6E6;
    height: 10%;
    margin-top: -150px;
    margin-right: 20px;
    margin-left: 20px;
}

#pRes{
    text-align: center;    
}

#divSeq {
    margin-top: 20px;
    height: 50px;
    background-color: #b0afaf;
}

#divFormSeq{
    position: relative;
    float: left;
}

#formSeq{
    /*display: inline-grid;*/
}

.lab2{

}

.inp2{
    width: 50px;
}

#btW{
    background-color: #b0afaf;
    border-radius: 5%;
    width: 80px;
    height: 40px;
}

#btL{
    background-color: #b0afaf;
    border-radius: 5%;
    width: 60px;
    height: 40px;
    margin-top: 6px;
}

#btWrite{
}

#divHist{
    text-align: center;
    width: 45%;
    height: 550px;
    background-color: #f0f0f0;
    justify-content: center;
    display: flex;
    position: relative;
    float: left;
    overflow: hidden;
}

#Hist{
    display: table;
}

#histHead{
    color: white;
    background-color: #858585;
    width: 500px;
    height: 20px;
    text-align: center;
}

#histBody{
    position: relative;
    width: 500px;
    height: 525px;
    float: left;
    overflow: auto;
    align-items: center;
}

#tab1{
    border: solid 2px #b9b9b9;
    border-collapse: collapse;
}

.thHist{
    color: red;
    border: solid 2px #828587;
    width: 250px;
}

.tdN,.tdB{
    border: solid 2px #828587;
}

#tdN{
    text-align: center;
}

#tdB{
    text-align: center;
}

#tData{
    background-color: inherit;
}

#binDec{
    background-color: #b0afaf;
    width: 55%;
    height: 250px;
    position: relative;
    margin-top: -250px;
}