#myBtn{
    width: 75px;
    height: 25px;
    background-color: #8753FF;
    color: #E5E3FF;
    border-radius: 10%;
    border: 2px solid #00004D;
}

#tab1{
    border: solid 2px #0072A8;
    border-collapse: collapse;
}

/*#tbody{
    height: 300px;
    overflow: auto;    
}
*/
td{
    border: solid 2px #0072A8;
}

th{
    border: solid 2px #0072A8;
    color: red;
    width: 200px;
}

.c1{
    border: none;
}

.tdN{
    text-align: center;
}

.tdB{
    text-align: center;
}

.divForm{
    text-align: center;
    width: 300px;
    height: 400px;
    background-color: #F4E9A7;
    position: relative;
    float: left;
}

.inp1{
    text-align: center;
}

.lab1{
    text-align: center;
}

.form1{
    display: inline-grid;
}

.divHist{
    text-align: center;
    width: 500px;
    height: 400px;
    background-color: #EDEDED;
    justify-content: center;
    display: flex; 
    position: relative;
    float: left;
    overflow: auto;
}

.divExplain{
    text-align: center;
    width: 300px;
    height: 400px;
    background-color: #dDEDED;
    justify-content: center;    
    position: relative;
    float: left;
    overflow: auto;    
}

.divBody{
    justify-content: center;
    align-items: center;
    display: flex; 

}

#title{
    color: #FF2402;
    text-shadow: 1px 1px 2px #5F0000;
    text-align: center;
}

.divHeader{
    background-color: #B7FFD6;
    height: 100%;
}

#hist{
    position: relative;
    float: left;
    width: 500px;
}